load("@valdi//bzl/valdi:valdi_module.bzl", "valdi_module")

cc_library(
    name = "{{MODULE_NAME}}_cpp_impl",
    srcs = glob(["cpp/**/*.cpp"]),
    hdrs = glob(["cpp/**/*.hpp"]),
    includes = [],
    deps = [":{{MODULE_NAME}}_cpp"],
    alwayslink = 1,
)

valdi_module(
    name = "{{MODULE_NAME}}",
    srcs = glob([
        "src/**/*.ts",
        "src/**/*.tsx",
    ]),
    native_deps = [":{{MODULE_NAME}}_cpp_impl"],
    visibility = ["//visibility:public"],
    deps = [],
)
